:root {
    --main_color: green;
}


body {
    background: #f2ecee;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topbar {
    height: 100px;

}

.active {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: green;
}


.btn-default {
    background: #2b8379;
    color: white;
    padding: 10px 30px;
}

.products-grid {
    grid-gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product {
    background-color: #fff;
    border-radius: 25px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 15px 20px;
}

.product-image-container {
    position: relative;
}

.product-quantity-container {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: -15px;
    top: 8px;
}

.product-quantity {
    background-color: #2b8379;
    /*background-color: #2b8379;*/
    border-radius: 50%;
    color: #fff;
    display: grid;
    font-size: 14px;
    height: 23px;
    place-items: center;
    width: 23px;
}

.product-info {
    padding-left: 25px;
}

.product-checkout {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: end;
}

.product-delete {
    background-color: #fff;
    border-color: #c43464;
    /*border-color: var(--accent-2);*/
    color: #970e3d;
    /*color: var(--accent-1);*/
    font-size: 14px;
    padding: 5px 5px;
    border-radius: 3px;
}

.btn-outline {
    /*background-color: #7fd1c7;*/
    /*background-color: var(--primary-4);*/
    border: 6px solid #e50d26;
    /*border: 2px solid var(--primary-1);*/
    border-radius: 10px;
    color: #fff;
    /*color: var(--primary-1);*/
    padding: 8px 25px;
}

.orderbtn {
    display: flex;
    justify-content: end;
    align-items: end;
}

.btn1 {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 12px;
    transition: background-color .2s, color .2s;
}

.btn2 {
    box-shadow: 1px 1px 4px #e50d26;
    color: #000;
    border-radius: 30%;
    padding: 5px 10px;
}

.rounded-5 {
    border-radius: 20px;
}

.table-cart {
    text-align: center;
}

.table1 {
    border-collapse: collapse;
    width: 100%;
}

table1 {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

.table1.table-cart thead {
    background-color: var(--main_color);
}

.table1 thead {
    background-color: #2b8379;
    border: 2px solid #fff;
    border-top: 0;
    color: #fff;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-cart {
    text-align: center;
}

.table1 {
    border-collapse: collapse;
    width: 100%;
}

table1 {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.table1 tbody {
    border: 1px solid #fff;
    font-size: 18px;
    background: #ccc;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
}

.cart-highlight {
    background-color: var(--main_color);
    color: #fff;
}

.table1 th {
    padding: 15px;
}

.errorPage {
    background-image: url("../../../public/assets/imgs/img_7.png");
    background-repeat: no-repeat;
    background-position: center;
}
























